body{
    text-align: justify;
    margin-right: 30px;
    margin-left: 20px;
}
h1{
    text-align : center;
}
table{
    border-collapse: separate;
}
.foto1{
    float:right;
    padding-left:15px;
    padding-bottom: 15px;
}
.foto2 {
    float:right;  
    padding-left:15px;
    padding-bottom: 15px;
    width: 450px;
    height: 300px;
}
.foto3 {
    float:right;  
    padding-left: 15px; 
}
.paises{
    width: 15px;
    height: 10px;
}
.musica {
    float: right;  
    padding-left:10px;
    padding-bottom: 5px;
}
